.two{
    background-color:rgb(21, 175, 175);
    border:1px solid black;
    padding:20px;
    font-size:25px;
    text-align:center;
}
p{
  color: aquamarine;
  font-size: 26px;
  font-family: 'Racing Sans One', cursive;
  text-decoration: underline;
}
.pages a {
    color: rgb(234, 243, 240);
    float: left;
    padding: 10px 10px;
    text-decoration: none;
}
.mic{
    display:grid;
    background-color:rgb(3, 55, 77);
    padding:10px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 100px 500px;
    grid-gap:40px;
}
.three{
    color:red;
    text-decoration:underline;
    font-size:20px;
    font-family: 'Kablammo', cursive;
} 
.four{
    display: block;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.mic2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mic2 img{
width: 250px;
height:250px;
border:solid white ;
padding: 15px;
margin: auto;

}
.class1{
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
    padding-top:10px;

}