/* Hey guys, use the code contained within this comment and the one below for the floating icon.*/
.floatingLogo {
  position: fixed;
  height: 200px;
  width: 200px;
  top: 0;
  left: 0;
  width: 100px;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 1000;
}

.logoscaling {
  width: 100%; 
}
/* There's probably a better way to treat the logo scaling, but this worked from the internet. The z-index above is just making sure the information pops out at you.*/